.LoadingScreen {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.271);
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.LoadingScreen .dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.LoadingScreen .dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0px 5px;
  background-color: #fff;
  transition: all 0.2s ease-in-out;
  transform: scale(1);
}

.LoadingScreen .scale {
  transform: scale(1.5);
}

.LoadingScreen .dot:first-child {
  margin-left: 0px;
}
.LoadingScreen .dot:last-child {
  margin-right: 0px;
}

.LoadingScreen .loading {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: #fff;
}
