.PopoverForm {
  padding: 10px;
  width: 300px;
}
.PopoverForm .max-width {
  width: 100%;
}
.PopoverForm .row {
  margin: 20px 0px;
}

.PopoverForm .submit {
  width: 100%;
  margin: 3px 0px;
}

.PopoverForm .title {
  margin: 5px 0px;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
}

.PopoverForm .buttons {
  margin-top: 30px;
}

.PopoverForm .submit-color {
  color: var(--settings-panel-submit-font-color);
  background-color: var(--main-navbar-color);
}

.PopoverForm .submit-color:hover {
  color: var(--main-navbar-color);
  background-color: var(--settings-panel-submit-font-color);
}

.PopoverForm .cancel-color {
  color: #232323;
  background-color: #e0e0e0;
}

.PopoverForm .cancel-color:hover {
  color: #23232360;
  background-color: var(--settings-panel-submit-font-color);
}
